fastapi
uvicorn[standard]

qdrant-client==1.15.1

unstructured[all-docs] 

torch
torchvision
sentence-transformers
openai-clip
Pillow

soundfile         
ffmpeg-python 

imageio    

langchain
langchain-openai
