fastapi
uvicorn[standard]

prometheus-fastapi-instrumentator

qdrant-client

unstructured[all-docs] 

torch
torchvision
sentence-transformers
openai-clip
Pillow

soundfile         
ffmpeg-python 

imageio    
